<% if @issue.project.module_enabled?("unregistered_watchers") &&
    Setting['plugin_redmine_unregistered_watchers']['allow_force_email_sending']=='true' &&
    @issue.project.unregistered_watchers_notifications.map(&:issue_status_id).include?(@issue.status.id)
%>

  <p id=issues_force_unregistered_watchers_notification>
    <%= f.check_box :notif_sent_to_unreg_watchers, {:checked=>true} %>
  </p>

<% end %>
